* {
  margin: 0;
  padding: 0;
}
body {
  background: #1b1924;
  user-select: none;
}
.container {
  width: 390px;
  margin: 30px auto;
  display: block;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

h1 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  margin: 17px auto 20px;
}
input {
  background: #444059;
  color: #8f8f8f;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 8px;
}

.comment-input {
  height: 100px;
  padding: 20px 12px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#fromInput,
#toInput {
  padding: 10px;
  text-align: center;
}
.publish-btn {
  background: #28a9f1;
  border: none;
  border-radius: 8px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  color: #04131c;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out;
}
h2 {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin: 25px 0 15px;
}
.endorsement-console li {
  list-style: none;
  background: #fff;
  text-align: start;
  padding: 20px 12px 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #1b1924;
  border-radius: 8px;
}
.endorsement-console h5 {
  font-family: "Inter", sans-serif;
}
.endorsement-console p {
  margin-top: 12px;
  margin-bottom: 10px;
}
.like-btn {
  border: none;
}
